




    <div class="row m-3 text-center">
    <h2 style="font-family: 'Dancing Script', cursive;"><strong>JENNY'S PIZZA</strong></h2>
    </div>

    <div class="row m-4">
        <div class="col-6">
        <img class="img-fluid shadow-lg rounded" src="https://th.bing.com/th/id/OIP.3-xcIRfKUEpN5IDxqZUPKwHaE7?pid=ImgDet&rs=1" alt="Immagine forno" style="width: 100%">
        </div>
        <div class="col-6 text-center align-self-center">
            <a class="fs-2 text-black link-underline link-underline-opacity-0" href="@Url.Action("Index", "Pizza")" style="font-family: 'Dancing Script', cursive;">Venite a provare<br /> la nostra pizza cotta a legna!!</a>
        </div>
    </div>

    <div class="row m-4">
        <div class="col-6 text-center align-self-center">
            <p class="fs-2" style="font-family: 'Dancing Script', cursive;">Vi aspettiamo <br />nel nostro locale!!</p>
        </div>
        <div class="col-6">
        <img class="img-fluid shadow-lg rounded" src="https://th.bing.com/th/id/R.473f0209eaefe1211d3fbd3af1f88dd4?rik=Ck5dhKrAvdd1Ew&riu=http%3a%2f%2ffotos.diariosur.es%2f201009%2fp1030372.jpg&ehk=UPIJnGJKOt%2bEjD3RthpOUSq2q07qKqMwjyL61rSAjBg%3d&risl=&pid=ImgRaw&r=0" alt="Immagine Locale">
        </div>
    </div>    

